<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <title>B-Smart salon</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Salon Website" name="keywords">
        <meta content="Salon Website" name="description">
        {% load static %}
        {% static "images" as baseUrl %}

        <!-- Favicon -->
        <link href="{% static 'img/favicon.ico'%}" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'lib/animate/animate.min.css'%}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
        <link href="{% static 'lib/lightbox/css/lightbox.min.css'%}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'css/style.css'%}" rel="stylesheet">
        <link href="{% static 'css/style2.css'%}" rel="stylesheet">

    </head>

    <body>
        <!-- Top Bar Start -->
        <div class="top-bar d-none d-md-block">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="top-bar-left">
                            <div class="text">
                                <h2>+254 720 782 021</h2>
                                <p>Call Us For Appointment</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="top-bar-right">
                            <div class="social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Bar End -->

        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
                <a href="/" class="navbar-brand">B-Smart salon</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                        <a href="{% url 'service'%}" class="nav-item nav-link">Service</a>
                        <a href="{% url 'price'%}" class="nav-item nav-link">Price</a>
                        <a href="{% url 'portfolio'%}" class="nav-item nav-link">Gallery</a>
                        <a href="{% url 'logout'%}" class="nav-item nav-link">Logout</a>
                        {% else %}
                        <a href="/" class="nav-item nav-link active">Home</a>
                        <a href="{% url 'register'%}" class="nav-item nav-link">Register</a>
                        <a href="{% url 'login'%}" class="nav-item nav-link">Login</a>
                        <a href="{% url 'about'%}" class="nav-item nav-link">About</a>
                        <a href="{% url 'contact'%}" class="nav-item nav-link">Contact</a>
                         {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Nav Bar End -->


        <!-- Hero Start -->
      <!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div class="number_text">1 / 3</div>
    <img src="{% static 'img/size1.jpg'%}" class="img-responsive" style="width:100%">
    <div class="text"></div>
  </div>

  <div class="mySlides fade">
    <div class="number_text">2 / 3</div>
    <img src="{% static 'img/size2.jpg'%}" class="img-responsive" style="width:100%">
    <div class="text"></div>
  </div>

  <div class="mySlides fade">
    <div class="number_text">3 / 3</div>
    <img src="{% static 'img/size3.jpg'%}" class="img-responsive" style="width:100% ">
    <div class="text"></div>
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>
        <!-- Hero End -->

        <!-- About Start -->
        <div class="about">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-6">
                        <div class="about-img">
                            <img src="{% static 'img/experience.jpg'%}" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="section-header text-left">

                            <h2>15 Years Experience</h2>
                        </div>
                        <div class="about-text">
                            <p>
                                At the B-Smart salon, we have confidence in excellence with a heart.
                                We have made a salon that offers the most
                                noteworthy quality hair benefits in a setting
                                that is more advantageous for the earth,
                                our visitors and our staff.

                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Service Start -->
       <div class="blog">
            <div class="container">
                <div class="section-header text-center">
                    <p>Our Salon Services</p>
                    <h2>Best Salon Services for You</h2>
                </div>
                <div class="owl-carousel blog-carousel">
                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="{% static 'img/serve1.jpg'%}" alt="Blog">
                        </div>
                        <div class="blog-meta">
                            <i class="fa fa-list-alt"></i>
                            <a href="{% url 'login'%}">Pedicure</a>
                     </div>
                        <div class="blog-text">
                            <h2><a href="{% url 'login'%}">Pedicure</a></h2>
                            <p>
                                Feet and toenails treatment.
                            </p>
                            <a class="btn" href="{% url 'login'%}">Read More <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="{% static 'img/serve2.jpg'%}" alt="Blog">
                        </div>
                        <div class="blog-meta">
                            <i class="fa fa-list-alt"></i>
                            <a href="{% url 'login'%}">Makeup</a>

                        </div>
                        <div class="blog-text">
                            <h2><a href="{% url 'login'%}">Makeup</a></h2>
                            <p>
                               Using lipstick, mascara & eye shadow to color and beautify the face.
                            </p>
                            <a class="btn" href="{% url 'login'%}">Read More <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="{% static 'img/serve3.jpg'%}" alt="Blog">
                        </div>
                        <div class="blog-meta">
                            <i class="fa fa-list-alt"></i>
                            <a href="{% url 'login'%}">Nail Polish</a>
                        </div>
                        <div class="blog-text">
                            <h2><a href="{% url 'login'%}">Nail Polish</a></h2>
                            <p>
                               Applying lacquer to toenails to decorate and protect the nail plates.
                            </p>
                            <a class="btn" href="{% url 'login'%}">Read More <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="{% static 'img/serve4.jpg'%}" alt="Blog">
                        </div>
                        <div class="blog-meta">
                            <i class="fa fa-list-alt"></i>
                            <a href="{% url 'login'%}">Weaving</a>
                        </div>
                        <div class="blog-text">
                           <h2><a href="{% url 'login'%}">Weaving</a></h2>
                            <p>
                                Adding further hair to ones hair or covering the natural hair all together with
                                human or synthetic hairpieces.
                            </p>
                            <a class="btn" href="{% url 'login'%}">Read More <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="{% static 'img/serve5.jpg'%}" alt="Blog">
                        </div>
                        <div class="blog-meta">
                            <i class="fa fa-list-alt"></i>
                            <a href="{% url 'login'%}">Stick Ons with gel Polish</a>
                        </div>
                        <div class="blog-text">
                         <h2><a href="{% url 'login'%}">Stick Ons with gel Polish</a></h2>
                            <p>
                               Applying lacquer to fingernails to decorate and protect the nail plates.
                            </p>
                            <a class="btn" href="{% url 'login'%}">Read More <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="{% static 'img/serve6.jpg'%}" alt="Blog">
                        </div>
                        <div class="blog-meta">
                            <i class="fa fa-list-alt"></i>
                            <a href="{% url 'login'%}">Facial Therapy</a>
                        </div>
                        <div class="blog-text">
                            <h2><a href="{% url 'login'%}">Facial Therapy</a></h2>
                            <p>
                                Exfoliating and removing impurities and dead skin on the face.
                            </p>
                            <a class="btn" href="{% url 'login'%}">Read More <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->


        <!-- Pricing Start -->
        <div class="price">
            <div class="container">
                <div class="section-header text-center">
                    <p>Our Best Pricing</p>
                    <h2>We Provide Best Price in the City</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="price-item">
                            <div class="price-img">
                                <img src="{% static 'img/prices-1.jpg'%}" alt="Image">
                            </div>
                            <div class="price-text">
                                <h2>Stitch Lines</h2>
                                <h3>Ksh 1,000</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="price-item">
                            <div class="price-img">
                                <img src="{% static 'img/prices-2.jpg'%}" alt="Image">
                            </div>
                            <div class="price-text">
                                <h2>Facial</h2>
                                <h3>Ksh 300</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="price-item">
                            <div class="price-img">
                                <img src="{% static 'img/prices-3.jpg'%}" alt="Image">
                            </div>
                            <div class="price-text">
                                <h2>Nail Polish</h2>
                                <h3>Ksh 100</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="price-item">
                            <div class="price-img">
                                <img src="{% static 'img/prices-4.jpg'%}" alt="Image">
                            </div>
                            <div class="price-text">
                                <h2>Sticks ons with gel Polish</h2>
                                <h3>Ksh 800</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="price-item">
                            <div class="price-img">
                                <img src="{% static 'img/prices-5.jpg'%}" alt="Image">
                            </div>
                            <div class="price-text">
                                <h2>Braiding</h2>
                                <h3>Ksh 1,000</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="price-item">
                            <div class="price-img">
                                <img src="{% static 'img/prices-6.jpg'%}" alt="Image">
                            </div>
                            <div class="price-text">
                                <h2>Crotches</h2>
                                <h3>Ksh 800</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="price-item">
                            <div class="price-img">
                                <img src="{% static 'img/prices-7.jpg'%}" alt="Image">
                            </div>
                            <div class="price-text">
                                <h2>Normal Braids</h2>
                                <h3>Ksh 100</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="price-item">
                            <div class="price-img">
                                <img src="{% static 'img/prices-9.jpg'%}" alt="Image">
                            </div>
                            <div class="price-text">
                                <h2>Blow-Out</h2>
                                <h3>Ksh 500</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="price-item">
                            <div class="price-img">
                                <img src="{% static 'img/prices-8.jpg'%}" alt="Image">
                            </div>
                            <div class="price-text">
                                <h2>Breaded Braids</h2>
                                <h3>Ksh 500</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="price-item">
                            <div class="price-img">
                                <img src="{% static 'img/prices-10.jpg'%}" alt="Image">
                            </div>
                            <div class="price-text">
                                <h2>Victoria Weave</h2>
                                <h3>Ksh 600</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="price-item">
                            <div class="price-img">
                                <img src="{% static 'img/prices-11.jpg'%}" alt="Image">
                            </div>
                            <div class="price-text">
                                <h2>Bleaching</h2>
                                <h3>Ksh 500</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="price-item">
                            <div class="price-img">
                                <img src="{% static 'img/prices-12.jpg'%}" alt="Image">
                            </div>
                            <div class="price-text">
                                <h2>Flat Ion</h2>
                                <h3>Ksh 800</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pricing End -->

        <!-- Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="footer-contact">
                                    <h2>Salon Address</h2>
                                    <p><i class="fa fa-map-marker-alt"></i>Majengo, Mombasa, Kenya</p>
                                    <p><i class="fa fa-phone-alt"></i>+254 720 782021</p>
                                    <p><i class="fa fa-envelope"></i>tommwenga33@gmail.com</p>
                                    <div class="footer-social">
                                        <a href=""><i class="fab fa-twitter"></i></a>
                                        <a href=""><i class="fab fa-facebook-f"></i></a>
                                        <a href=""><i class="fab fa-youtube"></i></a>
                                        <a href=""><i class="fab fa-instagram"></i></a>
                                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="footer-link">
                                    <h2>Quick Links</h2>
                                    <a href="">Terms of use</a>
                                    <a href="">Privacy policy</a>
                                    <a href="">Cookies</a>
                                    <a href="">Help</a>
                                    <a href="">FQAs</a>
                                </div>
                            </div>
                        </div>
                    </div>

            <div class="container copyright">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; <a href="#">bsmart.com</a>, All Right Reserved.</p>
                    </div>

                </div>
            </div>
        </div>
        <!-- Footer End -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'lib/easing/easing.min.js'%}"></script>
        <script src="{% static 'lib/owlcarousel/owl.carousel.min.js'%}"></script>
        <script src="{% static 'lib/isotope/isotope.pkgd.min.js'%}"></script>
        <script src="{% static 'lib/lightbox/js/lightbox.min.js'%}"></script>

        <!-- Contact Javascript File -->
        <script src="{% static 'mail/jqBootstrapValidation.min.js'%}"></script>
        <script src="{% static 'mail/contact.js'%}"></script>

        <!-- Template Javascript -->
        <script src="{% static 'js/main.js'%}"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script type="text/javascript">
    var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  slides[slideIndex-1].style.display = "block";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>
<script>
let timerInterval
{% if messages %}
       {% for message in messages %}

Swal.fire({
  title: "Done",
  text: '{{ message }}',
  icon: "success",
  timer: 3000,
  timerProgressBar: true,
  didOpen: () => {
    Swal.showLoading()
    timerInterval = setInterval(() => {
      const content = Swal.getHtmlContainer()
      if (content) {
        const b = content.querySelector('b')
        if (b) {
          b.textContent = Swal.getTimerLeft()
        }
      }
    }, 100)
  },
  willClose: () => {
    clearInterval(timerInterval)
  }
}).then((result) => {
  /* Read more about handling dismissals below */
  if (result.dismiss === Swal.DismissReason.timer) {
    console.log('I was closed by the timer')
  }
})
        {% endfor %}
    {% endif %}

</script>


    </body>
</html>
