<!DOCTYPE html>
<html>
<head>
	<title></title>
		 {% load static %}
  <link href="{% static 'css/log_in.css'%}" rel="stylesheet">
 <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
</head>
<body>
	<div class="heron">
        <div class="top_nav">
  <a href="{% url 'contact'%}">Contact</a>
  <a href="{% url 'about'%}">About</a>
    <a href="/">Home</a>
</div>
		<div class="form-box">

            <div class="button-box">
				<div id="btn"></div>
			</div>
             <div class="section-header text-center" style="text-align: center;">
<!--                       <h5>Welcome back</h5>-->
        </div>

				<form id="login" class="input-group" action="login" method="post" autocomplete="off">
					 {% csrf_token %}
					<label for="user"><b><i class="fa fa-user"></i> Username:</b></label>
				<input autocorrect="off" spellcheck="false" autocomplete="off" type="text" class="input-field" name="username" placeholder="Enter Username" required>
					<label for="psw"><b><i class="fa fa-unlock-alt"></i> Password:</b></label>
				<input autocorrect="off" spellcheck="false" autocomplete="new-password" type="password" class="input-field" name="psw" placeholder="Enter Password" required>

				<div class="form-group">
     <button type="submit class="btn btn-primary btn-lg"><i class="fa fa-sign-in-alt"></i> Login</button>

     </div>
     <div class="container" style="background-color:#f1f1f1">
    <span class="psw">Forgot <a href="#"><i class="fa fa-key"></i> password?</a></span>
  </div>

   <div class="container sign_in" >
    <p>You don't have an account? <a href="{% url 'register'%}" class="register">Register</a>.</p>
  </div>
			</form>

		</div>
        </div>
	</div>

 <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script type="text/javascript">
    {% if messages %}
       {% for message in messages %}
Swal.fire({
    title: 'Login Error !!!',
  text: '{{ message }}',
})
        {% endfor %}
    {% endif %}

</script>





</body>
</html>

